

.LOLBOOST {
    left: 10em;
    position: absolute;
    padding-top: 2em;
    padding-left: 3em;
    font-family: helvetica;
    font-size: 240%;
    top: 3em;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8em;
    grid-gap: 4em;    
    width: 25em;
    background-image: linear-gradient(to bottom right, skyblue, azure);
    border-radius: 25px;
    border: solid skyblue;
}