

.LOLBOOST {
    margin: 0 auto;
    left: 10em;
    position: absolute;
    padding-top: 13em;
    padding-left: 3em;
    font-family: helvetica;
    font-size: 240%;
    top: 6em;
    display: flex;
    flex-wrap: wrap;
    grid-template-areas: 'left right';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50em;
    grid-gap: 20em;    
    width: 25em;
    background-image: linear-gradient(to bottom right, skyblue, azure);
    border-radius: 25px;
    border: solid skyblue;
}

.gridBOOST-left {
    top: -400px;
    position: relative;
}


.gridBOOST-right {
    top: -400px;
    position: relative;
    left: 300px;
}