head {
    font-family: Arial;
}

body {
    font-family: Arial;
}

footer {
    font-family: Arial;
}

#maintext {
    position: absolute;
    top: 500px;
}

#copyright {
    position: relative;
    top: 200px;
}

#csgo {
    background-image:12; 
}

