head {
    font-family: Arial;
}




body {
    font-family: Arial;
}

footer {
    font-family: Arial;
}

<<<<<<< HEAD
#csgo {
    background-image:12; 
}

=======
>>>>>>> 307c38be0f6b406b9bf7df143655aa5a99be4984
